//
//  Sample.Secrets.xcconfig
//  ChaseWeather
//
//  Created by aakash tandukar on 2/3/26.
//

// Configuration settings file format documentation can be found at:
//
// Please make sure to use https:// like
// API_BASE_URL = "https://test.com/" to API_BASE_URL = "https:/$()/test.com/"

API_BASE_URL =
WEATHER_API_KEY =

